@tailwind base;
@tailwind components;
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@font-face {
  font-family: "Mulish";
  src: local("Mulish"), url(./fonts/Mulish-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "GalleryModern";
  src: local("GalleryModern"), url(./fonts/GalleryModern.woff2) format("woff2");
}
@tailwind utilities;

:root {
  --color-yellow-10: #f5efe8;
  --color-yellow-30: #e9d8c9;
  --color-yellow-100: #b47b48;
  --color-brown-light: #e4d8c0;
  --color-brown-dark: #daccb1;
  --color-green: #d7d9cd;
  --color-grey: #d4d7d6;
  --color-dark: #282423;

  --spacing-xs: 0.8rem;
  --spacing-sm: 1.6rem;
  --spacing-md: 2.4rem;
  --spacing-lg: 3.2rem;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --border-radius-sm: 1.6rem;
  --border-radius-md: 2.4rem;

  --box-shadow-md: 0 0 0.4rem rgba(0, 0, 0, 0.25);
}

html {
  line-height: 28px;
  font-weight: var(--font-weight-normal);
  color: var(--color-dark);
}

section .container {
  min-height: 960px;
}

main > div,
section > div {
  border-left: 1px solid var(--color-yellow-30);
  border-right: 1px solid var(--color-yellow-30);
}

section > div.white-borders,
footer > div {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.subtitles {
  display: flex;
  justify-content: space-between;
}

.subtitle-right {
  text-align: right;
}

.steps {
  position: absolute;
  top: 0;
  right: 45%;
  height: 1500px;
  z-index: 1;
}

.img-step {
  position: absolute;
  border: 1px solid var(--color-dark);
}

.img-step1 {
  width: 285px;
  transform: rotate(-18.15deg);
}
.img-step2 {
  width: 450px;
  top: 300px;
  transform: rotate(-5deg);
}
.img-step3 {
  width: 300px;
  top: 700px;
  transform: rotate(11.12deg);
}

.daaaltocode section,
.daaaltocode section > div {
  height: 100vh;
}

/* .txt-steps {
  position: absolute;
  top: 0;
  right: 45%;
  height: 500px;
  z-index: 1;
} */

.txt-step {
  position: absolute;
}

.txt-step1 {
  width: 400px;
  top: 1250px;
  transform: rotate(-18.15deg);
}
.txt-step2 {
  width: 400px;
  top: 1550px;
  transform: rotate(-5deg);
}
.txt-step3 {
  width: 400px;
  top: 1950px;
  transform: rotate(11.12deg);
}

.rounded-img {
  width: "530px" !important;
  height: "530px";
  border-radius: "99999px";
  border: "1px solid var(--color-dark)";
  /* object-fit: contain; */
}

.projets a {
  font-family: GalleryModern, serif;
  font-size: 90px;
  color: white;
  opacity: 0.4;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-top: 22px;
  line-height: 110px;
}

.projets a:hover,
#bureau {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  color: black;
  opacity: initial;
}

.projets a:hover::before {
  content: url(http://localhost:1337/uploads/surround_bef86b0a61.svg);
  position: absolute;
  left: -1rem;
  top: -2rem;
}

.projets a.first-child {
  margin-top: initial;
}

.projectWidgetLink {
}

.facette-creative {
  left: 27vw;
}

.facette-collaborative {
  right: 20vw;
}

.facette-responsable.md {
  right: 20vw;
}

.contactez-nous svg {
  background: url(http://localhost:1337/uploads/thumbnail_porte_52714a4ae2.png?updated_at=2021-12-24T02:22:56.729Z)
    no-repeat center;
  background-size: 61%;
}

input {
  outline: 0 !important;
  border-width: 0 0 2px 0;
  border-color: #b47b4880;
}
input:focus {
  border-color: #282423;
}

form {
  margin-top: 80px;
  width: 650px;
}

form button {
  background-color: var(--color-dark);
  color: var(--color-yellow-10);
}

::placeholder {
  color: #b47b4880;
}

/* Mobile */
@media screen and (max-width: 743px) {
  .container {
    width: 96.2vw !important;
    padding: 20px;
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }
  nav .container {
    height: 9.45vh;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .subtitle {
    font-size: 0.75rem;
    max-width: 125px;
  }
  .left-column {
    max-width: 300px;
  }
  h1 {
    margin: 4.25rem auto;
    font-size: 3.5rem;
    line-height: 4rem;
  }
  h2 {
    font-size: 2.375rem;
    line-height: 3.125rem;
  }
  .dreams h2 {
    max-width: 250px;
    text-align: center;
    margin: 0 auto;
  }
  h3 {
    font-size: 2.375rem;
    line-height: 3.125rem;
  }
  h4 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  p {
    font-size: 0.875;
  }
}

/* Tablet */
@media screen and (min-width: 744px) {
  nav .container {
    height: 9.45vh;
  }

  main .container {
    padding: 16.85vh 6.3vw 6.3vw 5vh;
  }

  .container {
    max-width: 97.76vw !important;
    padding: 3rem;
  }
  p {
    font-size: 1.125rem;
  }
  .left-column {
    max-width: 645px;
  }
  h1 {
    margin: 180px auto;
    font-size: 5rem;
    line-height: 5.5rem;
  }
  h2 {
    font-size: 4rem;
    line-height: 4.5rem;
  }
  .dreams h2 {
    max-width: 300px;
  }
  h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  h4 {
    font-size: 2.225rem;
    line-height: 1.5rem;
  }
}

/* Laptop */
@media screen and (min-width: 1128px) {
  .vision .container,
  .aaltocode .container {
    padding-top: 12.5rem;
    padding-bottom: 10rem;
  }

  h1 {
    margin: 180px 0;
    font-size: 7.5rem;
    line-height: 8.75rem;
    max-width: 645px;
  }

  .contact-page {
    margin-top: 60px;
  }

  .contact-page h1 {
    margin: 80px 0 200px 0;

    max-width: initial;
  }
  h2 {
    font-size: 5.625rem;
    line-height: 6.875rem;
  }
  .dreams h2 {
    max-width: 500px;
  }
  h3 {
    font-size: 4.25rem;
    line-height: 5rem;
  }
  h4 {
    font-size: 2.5rem;
    line-height: 1.5rem;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .container {
    max-width: calc(min(1920px, 100%) - 32px);
    padding: 68px;
  }
}

h1,
h2,
h3,
h4 {
  @apply font-serif;
}

.rich-text-hero a {
  @apply text-blue-600 underline;
}

.rich-text-banner {
  @apply whitespace-pre-line;
  a {
    @apply underline;
  }
}

.title {
  @apply text-4xl leading-snug font-semibold;
}

@media (min-width: 768px) {
  .title {
    @apply text-5xl;
  }
}

.with-arrow:after {
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%206a.5.5%200%200%200%200%201V6zM12.854.646a.5.5%200%200%200-.708.708l.708-.708zM18%206.5l.354.354a.5.5%200%200%200%200-.708L18%206.5zm-5.854%205.146a.5.5%200%200%200%20.708.708l-.708-.708zM1%207h16.5V6H1v1zm16.646-.854l-5.5%205.5.708.708%205.5-5.5-.708-.708zm-5.5-4.792l2.75%202.75.708-.708-2.75-2.75-.708.708zm2.75%202.75l2.75%202.75.708-.708-2.75-2.75-.708.708z%22%20fill%3D%22%231264A3%22%2F%3E%3C%2Fsvg%3E);
  content: "";
  width: 19px;
  height: 13px;
  display: inline-block;
  margin-left: 0.5em;
}
